@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: rgb(30, 41, 59); /* slate-800 */
  --oj: hsl(7, 93%, 60%); /* oj-500 */
  --sky: hsl(190, 100%, 50%);
  --green: hsl(142, 69%, 58%);
  --yellow: hsl(49, 90%, 50%);
  --light: rgb(241 245 249);
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --c900: rgb(15, 23, 42);
  --g500: rgb(34, 197, 94);
}

/* various gradient hover swipe animations */

.text-gradient-animation-oj:hover {
  background: linear-gradient(
    90deg,
    var(--oj),
    var(--oj),
    var(--oj),
    var(--oj),
    var(--oj),
    var(--oj),
    var(--sky),
    var(--yellow),
    var(--oj),
    var(--sky),
    var(--yellow),
    var(--oj)
  );
  background-size: 200%;
  -webkit-animation: gradient 1s linear;
  -moz-animation: gradient 1s linear;
  animation: gradient 1s linear;
  @apply bg-clip-text text-transparent;
}

.text-gradient-animation-dark:hover {
  background: linear-gradient(
    90deg,
    var(--dark),
    var(--dark),
    var(--dark),
    var(--dark),
    var(--dark),
    var(--dark),
    var(--sky),
    var(--yellow),
    var(--light),
    var(--sky),
    var(--yellow),
    var(--light)
  );
  background-size: 200%;
  -webkit-animation: gradient 1s linear;
  -moz-animation: gradient 1s linear;
  animation: gradient 1s linear;
  @apply bg-clip-text text-transparent;
}

.text-gradient-animation-light {
  background: linear-gradient(
    90deg,
    var(--light),
    var(--light),
    var(--light),
    var(--light),
    var(--light),
    var(--light),
    var(--sky),
    var(--yellow),
    var(--light),
    var(--green),
    var(--sky),
    var(--yellow),
    var(--light),
    var(--green)
  );
  background-size: 200%;
  -webkit-animation: gradient 1s linear;
  -moz-animation: gradient 1s linear;
  animation: gradient 1s linear infinite;
  @apply bg-clip-text text-transparent;
}

.bg-gradient-animation-g500:hover {
  background: linear-gradient(
    90deg,
    var(--g500),
    var(--g500),
    var(--g500),
    var(--g500),
    var(--g500),
    var(--g500),
    var(--g500),
    var(--g500),
    var(--sky),
    var(--yellow),
    var(--light),
    var(--sky),
    var(--yellow),
    var(--light),
    var(--g500)
  );
  background-size: 200%;
  -webkit-animation: gradient 1s ease-in-out reverse;
  -moz-animation: gradient 1s ease-in-out reverse;
  animation: gradient 1s ease-in-out reverse;
}

@keyframes gradient {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

/* lights flickering on animation */

@keyframes flicker {
  0%,
  19% {
    opacity: 0.8;
  }
  20% {
  }
  21%,
  23% {
    opacity: 0.6;
  }
  24%,
  26% {
    opacity: 0.8;
  }
  27%,
  29% {
    opacity: 0.6;
  }
  30%,
  32% {
    opacity: 0.9;
  }
  33% {
    opacity: 0.7;
  }
  34%,
  36% {
    opacity: 1;
  }
  37% {
    opacity: 0.6;
  }
  38%,
  45% {
    opacity: 1;
  }
  46%,
  49% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.image-lights-on {
  animation: flicker 2.5s linear forwards;
}

/* custom component divider shapes */

.divider-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.divider-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
}

.divider-1 .shape-fill {
  fill: #020617;
}

/* magical text effect */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.magic-text {
  display: inline-block;
  position: relative;
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--c900),
    var(--c900),
    var(--sky),
    var(--c900),
    var(--c900)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

/* magic gradient effect */

.magic-gradient {
  display: inline-block;
  position: relative;
  animation: background-pan-2 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--green),
    var(--green),
    var(--light),
    var(--green),
    var(--green)
  );
  background-size: 200%;
  white-space: nowrap;
}

@keyframes background-pan-2 {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

/* glowing blob mouse trail */

#blob {
  position: fixed;
  height: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(200px);
  overflow: hidden;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

/* #blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(200px);
} */
